  </div> <!-- this closes the container from header -->
  <footer class="footer">
    <div class="container">
        <p class="footerLabel">&copy; BlogChain 2017 | <a href="/blogchainmain">Home</a> </p>
      </div>
    </footer>
  </body>
</html>
